{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}}

{% block content %}
<h1>{{ title }}</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit in rerum aperiam illum, soluta sit repellat
    accusamus officia ea unde? Aliquid dicta soluta vel accusamus impedit, fuga officiis perspiciatis?
</p>
<h2>Выбирайте</h2>
<p>
<ul>
    <li><a href="{% url 'goods' %}">Товары</a></li>
    <li><a href="{% url 'order' %}">Заказы</a></li>
    <li><a href="{% url 'client' %}">Клиенты</a></li>
    <li><a href="{% url 'client_orders' client_id %}">Заказы клиента {{ client_id }}</a></li>
    <li><a href="{% url 'client_orders_period' client_id 'week' %}">Заказы клиента {{ client_id }} за неделю</a></li>
    <li><a href="{% url 'client_orders_period' client_id 'month' %}">Заказы клиента {{ client_id }} за месяц</a></li>
    <li><a href="{% url 'client_orders_period' client_id 'year' %}">Заказы клиента {{ client_id }} за год</a></li>
    <li><a href="{% url 'create_product' %}">Добавить товар</a></li>
    <li><a href="{% url 'update_product' product_id %}">Обновить товар {{ product_id }}</a></li>
</ul>
</p>
{% endblock %}}
