{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}}

{% block content %}
<h1>{{ title }}</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit odit in rerum aperiam illum, soluta sit repellat
    accusamus officia ea unde? Aliquid dicta soluta vel accusamus impedit, fuga officiis perspiciatis?
</p>
<h2>Добро пожаловать на сайт</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic laudantium deserunt ea natus. Excepturi commodi
    ipsum, deserunt soluta odit facere deleniti sint? Ad exercitationem, inventore maxime aliquid minima dolore culpa
    quas amet repellat perspiciatis unde odio officia quo, distinctio numquam minus doloremque fugiat libero, harum
    tempore ullam? Hic, ab libero.
</p>
{% endblock %}}
